<!doctype html>
<html ng-app='diceRoller'>

	<head>
        <meta charset="utf-8"> 
        <link rel="stylesheet" href="style.css">
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="Angular/angular.min.js"></script>
        <script type="text/javascript" src="roll.js"></script>
    </head>

	<body>
		<div ng-controller="rollerController">
        <!-- Currrently not being used -->
            <!-- <div id="total">
                <span>{{rollTotal}}</span>
            </div> -->
            <div id="wrapper">
                <div id="buttons">
                    <button class="button" ng-click="doRolls()">Roll em!</button>
                    <button class="button" ng-click="surpriseMe()">Gamble!</button>
                </div>
                <div id="dicePicker"  ng-repeat="input in inputs">
                    <div style="float:left;">
                        <input class="rollers" type="number" ng-model="input.rolls" />
                        <span class="D">d</span>
                        <input class="rollers" type="number" ng-model="input.sides" />
                    </div>
                    <div class="addMore" ng-click="addMoreOptions()">&#9679;</div>
                </div>
                <br />
                <div id="rolledDice">
                    <ul class="die" ng-repeat="die in dice">
                        <li><span class="dieInner">{{die.value}}</span></li>
                    </ul>
                </div>
            </div>
		</div>
	</body>
</html>